.last-child-component-footer {
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background: var(--var-color-component-advanced);
}
.last-child-component-footer div:nth-child(1) {
    padding-right: 30px;
}
.last-child-component-footer svg {
    filter: brightness(0);
    width: 250px;
}
.last-child-component-footer h2 span {
    margin-left: 7px;
}
.footer-ex-element-second {
    padding-right: 20px;
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .last-child-component-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: column;
    }
}