.benefits-section-slash-import {
    margin-top: 10vh;
    background: var(--var-color-component-advanced);
    padding: 30px 20px;
    margin-bottom: 12vh;
    padding-bottom: 3vh;
}
.benefit-container_item {
    width: 490px;
    height: 280px;
    border-radius: 30px;
    background: var(--var-color-component-white);
    margin: 10px;
    border: 2px solid var(--var-color-component-white);
    padding: 25px;
}
.benefit-container_item p {
    font-size: 24px;
    margin-top: 20px;
}
.custom-benefit-container {
    padding: 5px 4%;
}
.first-benefit-port-item svg {
    font-size: 72px;
    vertical-align: middle;
    margin-top: 6px;
    color: var(--var-color-component-advanced);
}
.first-benefit-port-item {
    color: var(--var-color-component-advanced);
}

@media screen and (max-width: 800px) {
    .benefits-section-slash-import {
        margin-top: 10vh;
        background: var(--var-color-component-advanced);
        padding: 30px 0;
        margin-bottom: 12vh;
        padding-bottom: 3vh;
    }
    .benefit-container_item {
        width: 100%;
        height: max-content;
        border-radius: 30px;
        background: var(--var-color-component-white);
        margin: 10px;
        border: 2px solid var(--var-color-component-white);
        padding: 25px;
    }
    .custom-benefit-container {
        padding: 5px 1%;
    }
    .first-benefit-port-item svg {
        font-size: 72px;
        vertical-align: middle;
        margin-top: 6px;
        margin-right: 6px;
        color: var(--var-color-component-advanced);
    }
    .benefit-container_item p {
        font-size: 21px;
        margin-top: 20px;
    }
    .first-benefit-port-item h1 {
        font-size: 30px;
        padding-left: 6px;
    }
}